.Navbar {
  padding-bottom: 20px;
}

.Jumbotron {
  padding-bottom: 20px;
}

.Jumbotron h1 {
  font-size: 4em;
}

.VotingPanel {
  padding-bottom: 20px;
}

.winner {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Candidate {
  padding-bottom: 20px;
}

.Pie {
  text-align: center;
}